@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.para {
    font-family: "Poppins", sans-serif;
}

.head {
    font-family: "Audiowide", sans-serif;
}

.ff {
    font-family: "Montserrat", sans-serif;
}

.first-head {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
}

.accordion-item,
.btn {
    background: #FFF03F !important;
    box-shadow: none !important;
    border: none;
}

.accordion-item-1,
.accordion-button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%) !important;
    box-shadow: none !important;
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-body .ac-b {
    background: #FFF03F !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-51 {
    margin-top: 51px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-19 {
    margin-left: 19px;
}

.pt-20 {
    padding-top: 6px;
}

.over-flow {
    overflow: hidden;
}

.accordion-btn::after {
    background-image: url(/assets/image/top-bottom-arrow.png) !important;
}

.acc-btn::after {
    background-image: url(/assets/image/top-blue-arrow.png) !important;
}

.text-align {
    text-align: center;
}

.bg {
    background-image: url(/assets/image/background.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.bg-color {
    background-image: url(/assets/image/Testimonials.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.bg-photo {
    background-image: url(/assets/image/testimonials-bg-pic.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.clr {
    color: #B7B8B8;
}

.background-1 {
    background-image: url(/assets/image/BG-image.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover
}

.bg-position {
    background-position: fixed;
}

.p-right {
    padding-right: 12px;
}

.accordion-item-first {
    position: relative;
    background-color: black !important;
    box-shadow: none !important;
    border: 1px solid #1EADB6;
    stroke: #1EADB6 100%;
    border-radius: 48px 0px 40px 0px;
}

.slider-first .slick-dots li.slick-active {
    background: #0389FF !important;
    width: 53px;
    height: 10px;
    border-radius: 28px;
}

.slider-first .slick-dots li {
    background-color: white;
    border-radius: 28px;
    transition: all 200ms linear;
    width: 10px;
    height: 10px;
}

.logo {
    margin-bottom: 30px;
}

.top-left-border {
    position: absolute;
    top: -1px;
    left: -1.1px;
}

.bottom-right-border {
    position: absolute;
    bottom: -1px;
    right: -2px;
}

.radius {
    border-radius: 50px 0px 50px 0px;
}

.card {
    width: 946px;
    height: 253px;
    border-radius: 20px;
    margin-left: 24px;
    background: rgba(3, 137, 255, 0.12);
}

.slide-para {
    width: 834px;
    height: 60px;
}

.card-1 {
    border-radius: 13px;
    background: #0389FF1F;
}

.img {
    border-radius: 15px 15px 0px 0px;
    width: 100% !important;
}

.pos-rel {
    position: relative;
}

.star-img {
    position: absolute;
    top: 60%;
}

.circle {
    position: absolute;
    right: 0%;
}

.circle-2 {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.slick-next:before {
    content: none;
    visibility: hidden;

}

.slick-prev:before {
    content: none;
    visibility: hidden;
}

.multiple-items button {
    display: none !important;
}

.card-slider {
    width: 300px !important;
    height: 230px;
    border-radius: 10px;
    border: 2px;
    margin-right: 25px;
    margin-left: 25px;
}

.slider-pic {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
}

.para-box {
    width: 340px;
    height: 100px;
    padding-left: 30px;
}

.slider-para {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.slider-para-2 {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.rating {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 70px;
    padding-top: 42px;
}

.svg-star {
    margin-top: 46px;
    margin-left: 10px;
}

.main-para {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.slider-card-para {
    padding-top: 12px;
}

.slider-heading {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-top: 57px;
}

.slider-head-para {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-top: 20px;
    margin-bottom: 60px;
}

.slick-dots li {
    background-color: white;
    border-radius: 22px;
    transition: all 200ms linear;
}

.slick-dots li.slick-active {
    background: #1219D2;
    width: 50px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots {
    bottom: -75px;
}

.photo-slider .slick-dots li.slick-active {
    background: #1219D2;
    width: 59px;
    height: 12px;
}

.photo-slider .slick-dots li {
    width: 28px;
    height: 12px;
    border-radius: 21px;
}

.card-slider {
    min-width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid #DDDDDD;
}

.last-slider .slick-dots li.slick-active {
    background: #F53838;
    width: 45px;
    height: 15px;
    right: 43%;
}


.last-slider .slick-dots li {
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    right: 43%;
}

.prev {
    position: absolute;
    right: 10%;
    border: 2px solid orangered;
    border-radius: 100px;
    padding: 15px;
}

.prev:hover {
    background-color: #F53838;

    path {
        fill: white;
    }
}

.next {
    position: absolute;
    right: 6%;
    border: 2px solid orangered;
    border-radius: 100px;
    padding: 9.5px;
}

.next:hover {
    background-color: #F53838;

    path {
        fill: white;
    }
}

.show-three {
    transform: translateX(120px);
}

.slick-slide .box-para p {
    color: #7E858A !important;
}

.slick-current .box-para p {
    color: white !important;
}

.overflow-slider .slick-track .slick-slide.slick-current.slick-active {
    border: 2px solid #F53838;
}

/* .second-slider .slick-track .slick-slide.slick-current.slick-active {
    border: 2px solid blue;
} */
.accordion-item {
    max-width: 992px;
    margin-left: 50px;
}
